In [1]:
name = 'cybrom'

print(name)


x = 10
y = 20

print(x+y)

cybrom
30

In [3]:
a = 3
b = 4
print(a+b)

7

In [3]:
name = 'tilak'
print(name)
print(type(name))

age = 21
print(age)
print(type(age))

percent = 85.2
print(percent)
print(type(percent))

print(name,age,percent)



print('name is : ',name,'age is : ',age,'percent is : ',percent )

tilak
<class 'str'>
21
<class 'int'>
85.2
<class 'float'>
tilak 21 85.2
name is :  tilak age is :  21 percent is :  85.2

In [12]:
msg = 'welcome to cybrom technology bhopal'

print(msg)
print(msg[0])
print(msg[5])
print(msg[0:7])
print(msg[0:17])
print(msg[11:])
print(msg[:17])
print(msg[0:17:3])
print(msg[0::3])
print(msg[::3])

welcome to cybrom technology bhopal
w
m
welcome
welcome to cybrom
cybrom technology bhopal
welcome to cybrom
wceoyo
wceoyothlyha
wceoyothlyha

In [30]:
#string methods
#==============
#upper lower swapcase split replace


msg = 'welcome to cybrom technology bhopal'
print(type(msg))



print(msg.upper())

r = msg.upper()
print(r)

print(msg.lower())

print(msg.swapcase())

print(msg.split())
      
      
b = msg.replace('bhopal','indore')
print(b)

<class 'str'>
WELCOME TO CYBROM TECHNOLOGY BHOPAL
WELCOME TO CYBROM TECHNOLOGY BHOPAL
welcome to cybrom technology bhopal
WELCOME TO CYBROM TECHNOLOGY BHOPAL
['welcome', 'to', 'cybrom', 'technology', 'bhopal']
welcome to cybrom technology indore

In [32]:
#conditional statement
#=====================


a = 200
b = 300

if a>b:
    print('a is greater')
    
elif b>a:
    print('b is greater')
    
else:
    print('both are equal')

b is greater

In [4]:
a = int(input('enter the value of a : '))
b = int(input('enter the value of b : '))

if a>b:
    print('A is greater')
    if a>b:
        print('thankyou')
        
elif b>a:
    print('B is greater')
    
else:
    print('Both are equal')

enter the value of a : 43
enter the value of b : 54
B is greater

In [39]:
user = 'admin'
password = 'tilak'

u = (input('enter the username : '))
p = (input('enter the password : '))

if u==user and p==password:
    print('login successfull')   
else:
    print('login failed')

enter the username : admin
enter the password : tilak
login successfull

In [40]:
user = 'adim'
pasword = 'tilak'

while True:
    u = input('enter the username :')
    if u==user:
        while True:
            p = input('enter the password :')
            if p==pasword:
                print('login successfull')
                break
                
            else:
                print('wrong pasword')
        break         
    else:
        print("wrong")

enter the username :bfj
wrong
enter the username :adim
enter the password :tilak
login successfull

In [41]:
friut = 'mango'

for x in friut:
    if x=='n':
        print(x,'thankyou')
        
    else:
        print(x,'sorry')

m sorry
a sorry
n thankyou
g sorry
o sorry

In [42]:
colour = ['orange','red','black','pink','blue']

for x in colour:
    print(x)

orange
red
black
pink
blue

In [45]:
nums = [1,2,3,4,5,6,7,8,9,10]

for x in nums:
    if x%2==0:
        print(x)

2
4
6
8
10

In [11]:
for x in range(1,5):
    print('thankyou')

thankyou
thankyou
thankyou
thankyou

In [9]:
#wap to find even and odd number?

n = int(input('eneter the number : '))


if n%2==0:
    print('even number')
    
elif n%2!=0:
    print('odd number')

eneter the number : 1762
even number

In [8]:
n = int(input('enter the number : '))

if n>0:
    print('positive number')
    
elif n<0:
    print('negative number')

enter the number : 1762
positive number

In [5]:
t = int(input('enter the table no. to print : '))

for x in range(1,11):
    print(t,'*',x,'=',t*x)

enter the table no. to print : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [54]:
item1 = [1,2,3,4,5,6,7,8,9,10]
item2 = []

for x in item1:
    r = x*x
    item2.append(r)
    
print(item2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
details1 = ['hi',10,'thankyou',20]
details2 = []

for x in details1:
    if type(x)==int:
        r = x*x
        details2.append(r)
        
print(details2)

[100, 400]

In [57]:
items = [1,2,3,4,5,6,7,8,9,10]

s = 0
for x in items:
    s+=x
    
print(s)

55

In [5]:
print('press1 to add your name : ')
print('press2 to add your roll no : ')
print('press3 to add your subject : ')
print('press4 to logout')

while True:
    n = int(input('enter your chioce :'))
    
    if n==1:
        name = input('enter your name : ')
        print(name)
        
    elif n==2:
        rn = input('enter your roll no :')
        print(rn)
        
    elif n==3:
        
        sb = input('enter your subject : ')
        print(sb)
      
    elif n==4:
        exit()
           
    else:
        print('invalid input')

press1 to add your name :
press2 to add your roll no :
press3 to add your subject :
press4 to logout

KeyboardInterrupt: Interrupted by user

In [4]:
#transfer statement
#==================

#break #continue #pass
#----------------------------------------------------------------------------------------------------------------------


#break

nums = [1,2,3,4,5,6,7,8,9,10]

for x in nums:
    if x==6:
        break
    print(x)

1
2
3
4
5

In [5]:
nums = [1,2,3,4,5,6,7,8,9,10]

for x in nums:
    print(x)
    if x==6:
        break

1
2
3
4
5
6

In [9]:
colour = ['green','red','blue','pink','yellow']

for x in colour:
    print(x)
    if x=='red':
        break

green
red

In [12]:
#continue


nums = [1,2,3,4,5,6,7,8,9,10]

for x in nums:
    if x==6:
        continue
    print(x)

1
2
3
4
5
7
8
9
10

In [13]:
nums = [1,2,3,4,5,6,7,8,9,10]

for x in nums:
    if x==6:
        continue
    print(x)
    print('yes')

1
yes
2
yes
3
yes
4
yes
5
yes
7
yes
8
yes
9
yes
10
yes

In [14]:
#pass

nums = [1,2,3,4,5,6,7,8,9,10]

for x in nums:
    if x==6:
        pass
    print(x)
    print('yes')

1
yes
2
yes
3
yes
4
yes
5
yes
6
yes
7
yes
8
yes
9
yes
10
yes

In [42]:


for x in range(1,11):
    pass

In [ ]:

nums = []

for x in range(1,11):
    n = int(input('enter the number : '))
    nums.append(n)
            
print(nums)

In [36]:
#function
#========

def msg():
    print('thankyou')
    
msg()
msg()
msg()

thankyou
thankyou
thankyou

In [41]:
print('------------------------------------------------------')
for x in range(1,4):
    print('sorry')
print('------------------------------------------------------')
for x in range(1,5):
    print('welcome')

------------------------------------------------------
sorry
sorry
sorry
------------------------------------------------------
welcome
welcome
welcome
welcome

In [3]:
def sum():
    a=10
    b=20
    c=a+b
    print(c)
    
sum()

30

In [5]:
print('press 1 to add your details')

def details():
    nm = input('enter your name : ')
    rn = input('enter your roll no. : ')
    
while 1==1:
    n = int(input('enter your choice : '))
    
    if n==1:
        details()

press 1 to add your details
enter your choice : 1
enter your name : tilak naga
enter your roll no. : 42
enter your choice : 2
enter your choice : 1

KeyboardInterrupt: Interrupted by user

In [11]:
n = int(input('enter the number : '))
for x in range(2,n):
    if n%2==0:
        print('number is not prime') 
        break
    else:
        print('prime number')

enter the number : 8
number is not prime

In [13]:
#non-default Argument
#====================


def player(name):
    print(name)
    
    
player('smith')
player('russel')
player('sammy')

smith
russel
sammy

In [14]:
def employee(name):
    print(name)
    print(type(name))
    
employee('tilak')

tilak
<class 'str'>

In [15]:
def employee(name):
    print(name)
    
employee(input('enter the name : '))

enter the name : tilak
tilak

In [17]:
def employee(name,age,city):
    print(name,age,city)
    
employee('smith','20','sydney')

smith 20 sydney

In [18]:
employee(input('name : '),int(input('age : ')),input('city : '))

name : tilak
age : 20
city : sydney
tilak 20 sydney

In [22]:
n = input('enter the name :')
a = int(input('enter the age :'))
c = input('enter the city :')

employee(n,a,c)

enter the name :tilak
enter the age :21
enter the city :sohagpur
tilak 21 sohagpur

In [21]:
def sum(a,b):
    print(a+b)
    
sum(10,20)

30

In [23]:
aa = int(input('enter the 1st number : '))
bb = int(input('enter the 2nd number : '))

sum(aa,bb)

enter the 1st number : 45
enter the 2nd number : 64
109

In [24]:
#Default Argument
#================

def employee(name = 'tilak',age = '21',city = 'sohagpur'):
    print(name,age,city)
    
employee()

tilak 21 sohagpur

In [25]:
def employee(name,age,city = 'sohagpur'):
    print(name,age,city)
    
employee('tilak','21')

tilak 21 sohagpur

In [27]:
def employee(name = 'tilak'):
    print(name)
    
employee('smith')

smith

In [28]:
def employee(age,city,name = 'tilak'):
    print(name,age,city)
    
employee(21,'sohagpur')

tilak 21 sohagpur

In [29]:
def employee(name = input('enter the name : ')):
    print(name)
    
employee()

enter the name : tilak
tilak

In [30]:
#ARGS
#====

def employee(*args):
    print(args)
    print(type(args))
    
employee('smith')
employee('russel',21)
employee('sammy',22,'sydney')

('smith',)
<class 'tuple'>
('russel', 21)
<class 'tuple'>
('sammy', 22, 'sydney')
<class 'tuple'>

In [31]:
#KWARGS
#======

def employee(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
    
employee(name = 'smith')

{'name': 'smith'}
<class 'dict'>

In [33]:
def employee(**kwargs):
    print(kwargs)
    
employee(name = 'smith')
employee(name = 'smith',age = 20,city = 'sydeny')

{'name': 'smith'}
{'name': 'smith', 'age': 20, 'city': 'sydeny'}

In [34]:
n = input('enter the name : ')
a = int(input('enter the age : '))
c = input('enter the city : ')


def employee(**kwargs):
    print(kwargs)
    
employee(name=n,age=a,city=c)

enter the name : tilak
enter the age : 21
enter the city : sohagpur
{'name': 'tilak', 'age': 21, 'city': 'sohagpur'}

In [35]:
#ARGS &  KWARGS in same function
#==============================


def employee(*args,**kwargs):
    print(args)
    print(kwargs)
    
employee('smith',21,name = 'Russel',age=22,city = 'sohagpur')

('smith', 21)
{'name': 'Russel', 'age': 22, 'city': 'sohagpur'}

In [5]:


x = 10                #=> global variable

def test():
    y = 20            #=> local variables
    print(y)
    
test()
print(x)

20
10

In [3]:
x = 10

def test():
    global x
    x = 20
    
test()

print(x)

20

In [5]:
x = 10


def test():
    global x
    x = 20
    print(x)
    x = 5
    print(x)
    
test()

20
5

In [17]:
#Return statement
#================


def cube(value):
    
    return value*value*value
    print('cybrom')
    
print(cube(94))

830584

In [13]:
#Id
#==


name = 'cybrom'
print(id(name))

company = 'cybrom'
print(id(company))

1169564838832
1169564838832

In [15]:
x = 10
print(id(x))

y = 20
print(id(y))

1169484180048
1169484180368

In [1]:
def test():
    global x
    x = 15
    print(id(x))
    
test()
print(x)

2252929657584
15

In [2]:
x = 10
print(id(x))


def test():
    x = 20
    print(id(x))
    globals()['x'] = 15
    print(x)
    
test()
print(x)

2252929657424
2252929657744
20
15

In [3]:
x = 10
y = 20
z = 30

print(id(x))

def test():
    globals()
    x = 1
    y = 2
    z = 3
    globals()['x'] = 100
    globals()['y'] = 200
    globals()['z'] = 300

    print(x,y,z)
    
test()
print(x,y,z)

2252929657424
1 2 3
100 200 300

In [11]:
num = [1,2,3,4,5,6,7,8,9,10]

def square(num):
    return num*num

r = list(map(square,num))
print(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
r = list(map(square,[10,20,30,40,50]))
print(r)
print(type(r))

[100, 400, 900, 1600, 2500]
<class 'list'>

In [13]:
item1 = [1,2,3,4,5]

def square(x):
    return x*x

r = list(map(square,item1))
print(r)

[1, 4, 9, 16, 25]

In [2]:
#Filter

def even(x):
    return x%2==0

r = list(filter(even,(1,2,3,4,5,6,7,8,9,10,11,12)))
print(r)

[2, 4, 6, 8, 10, 12]

In [5]:

def sum(x,y):
    return x+y

from functools import reduce

r = reduce(sum,[1,2,3,4,5,6,7,8,9,10])
print(r)
print(type(r))

55
<class 'int'>

In [6]:
x = open('tilak.txt','w')

In [7]:
x.write('this is the first line')

22

In [8]:
x.close()

In [10]:
x = open('tilak.txt','r')

In [11]:
x.read()

'this is the first line'

In [12]:
x.close()

In [13]:
f = open('tilak.txt')
print(f.read())

this is the first line

In [17]:
f = open('python code.txt' )
f.read(5)

'this '

In [12]:
f = open('shreyank.txt', 'w')
a = f.write('bade bhai bht ache hein\n')
print(a)
f.close()

24

In [ ]:
# File Handling
# =============

# Method => read() readline() readlines() write() close()

#f = open('e:/python/document.txt' , 'r')

# reading file
# ------------

#read()                          # => read() gives result in string
#-----
#print(f.read())

r = f.read()
print(r)
print(type(r))

#readline()
#---------

print(f.readline())
print(f.readline())
print(f.readline())

r = f.readline()
print(r)
print(type(r))

#print(f.readlines())
#--------------------

r = f.readlines()
print(r)
print(type(r))
print(r[3])
print(r[3:6])
#-----------------------------------------------------------------------------